<div>
    <img src="https://media.istockphoto.com/id/1208588832/vector/young-woman-secretary-answering-call-in-office.jpg?s=612x612&w=0&k=20&c=RFYNYjClbj1TYco8l6HIhKaU4r_PdzcC-wHhlscLujU="
        alt="">
    <h1>Admin</h1>
    <p>admin@gmail.com</p>
</div>
<mat-divider></mat-divider>
<div class="pages">
    <a routerLink="">Dashboard</a>
    <a routerLink="gallery">Gallery</a>
    <a routerLink="employees">Employees</a>
</div>
<mat-divider></mat-divider>
<div class="pages">
    <a routerLink="addemployee">Add Employee</a>
    <a routerLink="leads">Leads</a>
</div>