<h1><b>Employee Details</b></h1>
<div class="container">
<mat-card style="margin: 20px;">
    <img src="https://luminartechnolabbucket.s3.ap-south-1.amazonaws.com/879480b2-9173-43b5-876c-c86d72cd2e6e-IMG_20191026_121955__02.jpg" mat-card-lg-image>
    <mat-card-title style="text-align: center;">Rahul</mat-card-title>
    <mat-card-subtitle style="text-align: center;">Founder And MD</mat-card-subtitle>
</mat-card>
<mat-card style="margin: 20px;">
    <img src="https://media.licdn.com/dms/image/D5622AQE3Gf94gBL3pg/feedshare-shrink_800/0/1689687442273?e=1692835200&v=beta&t=0iMETgNmIYkMFzQflAi1Df2vFzCA7aUzWokBm0oJQTI" mat-card-lg-image>
    <mat-card-title style="text-align: center;">Amritha</mat-card-title>
    <mat-card-subtitle style="text-align: center;">Full Stack Faculty</mat-card-subtitle>
</mat-card>
<mat-card style="margin: 20px;">
    <img src="https://media.licdn.com/dms/image/D5603AQHlR99L0HDWsQ/profile-displayphoto-shrink_800_800/0/1676125072253?e=2147483647&v=beta&t=u4tmF1cnXsC77hSMhSGp5GsnVbRoehsBQKqKF3T52NE" mat-card-lg-image>
    <mat-card-title style="text-align: center;">Soniya</mat-card-title>
    <mat-card-subtitle style="text-align: center;">Full Stack Faculty</mat-card-subtitle>
</mat-card>
<mat-card style="margin: 20px;">
    <img src="https://media.licdn.com/dms/image/D5622AQGMRmHotGpPOw/feedshare-shrink_800/0/1689687442172?e=1692835200&v=beta&t=4ITpJQFnummyN__vD5I5uWbEbETAhJYnJlGnqre5u6Y" mat-card-lg-image>
    <mat-card-title style="text-align: center;">Anusha K</mat-card-title>
    <mat-card-subtitle style="text-align: center;">Center Manager</mat-card-subtitle>
</mat-card>
</div>